<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy;2015 - <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a>
            Hosted by <a href="https://gitee.com/" target="_blank">Gitee Pages</a>
            <script src="https://s22.cnzz.com/z_stat.php?id=1271323883&web_id=1271323883" language="JavaScript"></script>
        </div>        
    </div>
</footer>